body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#AkanForm {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#AkanForm label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

#birthdate, #gender, #AkanForm button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#AkanForm button {
    background-color: #4caf50;
    color: #fff;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

#AkanForm button:hover {
    background-color: #45a049;
}

#result {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #e7fbe7;
    width: 100%;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


#realAkanName {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

#heading {
    color: #4caf50;
    margin-top: 20px;
    text-align: center;
}

#subheading {
    font-size: 18px;
    color: #555;
    text-align: center;
}